body { background-color: white }
#wrapper {
  /* width: 100%; */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
}
#articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  /* height: 700px; */
}
#notes {
  float: right;
  width: 30%;
}
textarea, input {
  display: block;
  width: 100%;
  border: solid black;
}
input {
  height: 36px;
}
textarea {
  height: 150px;
  font-size: 36px;
}

#titleinput{
    border: solid black; 
    font-size: 24px
}
.card-panel{

    text-align: center;
    margin: 20px;
}
p{
    /* padding: 20px; */
    text-align: center;
}
.waves-effect{
  margin-top: 15px;
}